<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>Arizona State University</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/vPNnBCvSRAVGa5eALOY0BcWgc3yRoa7tV0jQJ5yyTacAvA_png.png</loginLogo>
        <pageHeader>SharedDocuments/ASU_Header.html</pageHeader>
        <primaryColor>#990033</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#CCCCCC</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#990033</secondaryColor>
        <tertiaryColor>#FFFFFF</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#FFCB66</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>Communities/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>service@asu.edu</emailSenderAddress>
    <emailSenderName>My ASU</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>Communities/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <profile>admin</profile>
        <profile>asu community</profile>
        <profile>asu community cap</profile>
        <profile>asu service - financial aid</profile>
        <profile>asu service - registrar</profile>
        <profile>asu service - student business services</profile>
        <profile>asu service - engineering it</profile>
        <profile>force.com - app subscription user</profile>
        <profile>asu recruitment - events</profile>
        <profile>asu recruitment - transfer recruiter</profile>
        <profile>asu recruitment - freshman recruiter</profile>
        <profile>asu service - library services</profile>
        <profile>asu service - engineering - semte</profile>
        <profile>asu service - sustainability</profile>
        <profile>asu service - new college</profile>
        <profile>asu service - blackboard uto</profile>
    </networkMemberGroups>
    <picassoSite>My_ASU1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>My_ASU</site>
    <status>Live</status>
    <tabs>
        <customTab>Service_Center</customTab>
        <defaultTab>01rd0000000ex5A</defaultTab>
    </tabs>
    <welcomeTemplate>Communities/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
