#Ignore all IDE specific files
salesforce.schema
.project
/Referenced Packages/
/.settings/
/.idea/
/IlluminatedCloud/
/config/
/debug/
/deploy/
/build/
*.sublime-project
*.sublime-settings
*.sublime-workspace
*.iml
.DS_Store
*.log
.bash_aliases
.bash_logout
.bashrc
.c9/
.cache/
.config/
.force/
.gem/
.gemrc
.gitconfig
.gnupg/
.heroku/
.hgignore
.hgrc
.local/
.npmrc
.nvm/
.profile
.profileE
.ssh/
workspace/
/src/package.xml
workspace
.codeintel/
/src/staticresources
src/lwc/jsconfig.json
src/package-lock.json
src/package.json
