#Ignore all IDE specific files
salesforce.schema
.project
/Referenced Packages/
/.settings/
/config/
/debug/
/deploy/
/build/
asu-salesforce-metadata.sublime-project
asu-salesforce-metadata.sublime-settings
asu-salesforce-metadata.sublime-workspace

.DS_Store
*.log
