{
    "apexInsertFinalNewline": false,
    "bracketSpacing": false,
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": "**/lwc/**/*.html",
            "options": {
                "parser": "lwc"
            }
        },
        {
            "files": "*.{cmp,page,component}",
            "options": {
                "parser": "html"
            }
        }
    ],
    "printWidth": 120,
    "quoteProps": "consistent",
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5"
}
