/* Spinner Container */
.slds-spinner_container {
    content: 'Please wait.....!';
    text-align: center;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.002);
    padding: 20px 0;
}

/* Custom Status Box */
.customStatusBox {
    margin-bottom: var(--lwc-spacingXSmall, 0.5rem);
}

/* Toast Notifications */
.toastzindex {
    z-index: 1;
}

.toastnominwidth {
    min-width: 0;
}

/* Display None */
.displaynone {
    display: none;
}
