:host {
    background: white;
    padding: 1rem;
    display: block;
}

:host .configTable {
    border-collapse: separate;
    border-spacing: var(--lwc-varSpacingXSmall, 0.5rem);
}

:host .buttonColumn {
    width: var(--lwc-squareIconMediumBoundary, 32px);
}

:host .loadingIcon {
    position: relative;
}
