:host .alert-link {
    --slds-c-icon-color-foreground-default: #8c1d40;
}
:host .alert-link:hover {
    --slds-c-icon-color-foreground-default: #d23153;
}

:host .alert-close .btn {
    --slds-c-icon-color-foreground-default: gray;
}

:host .alert-icon {
    --slds-c-icon-color-foreground-default: black;
}
