.THIS .slds-form-element .compound-form-adjust {
    padding: 0 !important;
}

@media (min-width: 769px) {
    .THIS label.slds-form-element__label.slds-no-flex {
        height: 30px;
        line-height: 0.875rem;
    }
}
