:host {
    --dynamicDropdownOffsetTop: 0px;
    --dynamicDropdownWidth: 0px;
}

:host .slds-listbox__item:focus {
    background-color: var(--slds-g-color-neutral-base-95, var(--lwc-colorBackgroundRowHover,rgb(243, 243, 243)));
    text-decoration: none;
}

:host .required-flag {
    color: red;
}

:host .fixed-dropdown {
    position: fixed !important;
    top: var(--dynamicDropdownOffsetTop) !important;
    width: var(--dynamicDropdownWidth) !important;
    z-index: 9102 !important;
}