:host {
    --header-height: 140px;
}
/** Spacer for header */
:host .header-spacer {
    height: var(--header-height);
    margin-bottom: var(--lwc-varSpacingMedium, 1rem);
}

/** Cleanup box-shadows from buttons */
:host button:focus {
    box-shadow: unset !important;
}

/** Rules to turn off header's fixed positioning */
:host .force-relative-header header {
    position: relative;
    margin-bottom: var(--lwc-varSpacingVerticalMedium, 1rem);
}
:host .force-relative-header .header-spacer {
    display: none;
}

/** View As configuration */

/* View as overlay */
:host .view-as-container {
    display: flex;
    justify-content: right;
    text-align: right;

    position: fixed;
    z-index: 1040;
    right: var(--lwc-varSpacingMedium, 1rem);
    top:  calc(var(--header-height) - var(--lwc-varSpacingXSmall, 0.5));
    transform: translateY(calc(-100%));
}

/* Buttons sizing and by default - hide buttons */
:host .view-as-button {
    font-size: 0.75rem;
    display: none;
}

/* On small screens show buttons and hide overlay */
@media only screen and (max-width: 1260px) {
    :host .view-as-button {
        display: inline;
    }
    :host .view-as-container {
        display: none;
    }
}

/* When relative header is enabled - use absolute positioning rather than fixed */
:host .force-relative-header .view-as-container {
    position: absolute;
}
