.THIS input[type='text'] {
    cursor: initial !important;
}

@media (min-width: 769px) {
    .THIS label.slds-form-element__label.slds-no-flex {
        height: 30px;
        line-height: 0.875rem;
    }
}

@media (max-width: 768px) {
    .THIS .slds-input-has-icon .slds-input__icon {
        top: 70% !important;
    }
}
