.THIS .chosen-container .chosen-results {
    max-height: 150px;
    overflow-y: scroll;
}

.THIS .chosen-choices {
    width: 300px;
}

.THIS .InputSelectMultiple {
    width: 300px;
}
.THIS .chosen-drop {
    width: 300px;
}

.THIS .chosen-search-input {
    width: 200px;
}

.THIS .chosen-container-multi .chosen-drop .result-selected {
    color: #a02741;
}

.THIS .chosen-container .chosen-results li.disabled-result {
    color: #171717;
}

.THIS .pointer {
    cursor: pointer;
}

.THIS .ul-listbox {
    width: 90%;
}

.THIS.light-blue-background {
    background-color: rgba(0, 112, 210, 0.1);
}

.THIS .slds-dropdown-trigger .slds-dropdown {
    height: 250px;
    overflow: auto;
}
