:host {
    --lwc-formLabelFontSize: 1.5rem;
    --lwc-fontSize2: 0.9rem;
    --lwc-fontSize3: 1.5rem;

    --slds-c-button-brand-color-background-hover: #681630;
    --slds-c-button-brand-color-border-hover: #681630;
    --sds-c-button-brand-text-color-hover: #ffffff;

    --slds-c-button-brand-color-background-active: #681630;
    --slds-c-button-brand-color-border-active: #681630;
    --sds-c-button-brand-text-color-active: #ffffff;

    --slds-c-button-brand-color-background: #8c1d40;
    --slds-c-button-brand-color-border: #8c1d40;
    --sds-c-button-brand-text-color: #ffffff;
}

:host .checkbox {
    display: inline-block;
    border: 2px solid black;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-radius: 3px;
}

:host .alert-wrapper {
    text-align: center;
    color: darkorange;
    font-size: 1.5rem;
}
